
@import "./vars.scss";
@import "./reset.scss";

// materials icons
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// psi
$form-width: 300px;
.form-container {
  .el-input {
    width: $form-width;
  }
  .el-textarea {
    width: $form-width;
  }
}

// 修复级联选择器disabled状态样式问题
.is-disabled .el-cascader__label span {
  color: $color-text-placeholder;
}

// 覆盖menu样式
$height-submenu: 40px;
.el-menu--collapse {
  .el-menu-item, 
  .el-submenu .el-submenu__title {
    height: 64px;
    padding: 0 !important;
  }
  .el-menu-item,
  .el-menu-item .icon,
  .el-submenu__title,
  .el-submenu__title .icon {
    color: #666;
  }
  .is-active {
    &.el-menu-item, 
    &.el-submenu .el-submenu__title,
    &.el-submenu .el-submenu__title .icon {
      color: $color-primary;
    }
  }
}
.el-menu--popup {
  .el-menu-item {
    height: $height-submenu;
    line-height: $height-submenu;
  }
}
// 覆盖menu样式 - end ^_^

// 表单元素宽度自适应
.el-select,
.el-date-editor.el-input {
  width: 100%;
}

  
