
@import "./vars.scss";
@import "./reset.scss";

// materials icons
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../public/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../../public/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../../public/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../../public/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// psi
.el-container {
  min-height: 0;
}

$form-width: 300px;
.form-container {
  .el-input,
  .el-textarea,
  .el-select, 
  .el-date-editor.el-input {
    width: $form-width;
  }
}

// 修复级联选择器disabled状态样式问题
.is-disabled .el-cascader__label span {
  color: $color-text-placeholder;
}

// 覆盖menu样式
$height-submenu: 40px;
.el-menu--collapse {
  .el-menu-item, 
  .el-submenu .el-submenu__title {
    height: 64px;
    padding: 0 !important;
  }
  .el-menu-item,
  .el-menu-item .icon,
  .el-submenu__title,
  .el-submenu__title .icon {
    color: #666;
  }
  .is-active {
    &.el-menu-item, 
    &.el-submenu .el-submenu__title,
    &.el-submenu .el-submenu__title .icon {
      color: $color-primary;
    }
  }
}
.el-menu--popup {
  .el-menu-item {
    height: $height-submenu;
    line-height: $height-submenu;
  }
}
// 覆盖menu样式 - end ^_^

// 表单元素宽度自适应
.el-select,
.el-date-editor.el-input {
  width: 100%;
}

.table-validate {
  .el-form-item {
    margin-bottom: 0;
  }
  .el-form-item__content {
    line-height: 1;
  }
}

// table empty height
.el-table__empty-block {
  min-height: 150px;
}

// dialog
.el-dialog__header {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}
.el-dialog__title {
  font-size: 14px;
  color: #666;
}
.el-dialog__headerbtn {
  top: 15px;
}
.el-dialog__body {
  padding: $size;
}
.el-dialog__footer {
  padding: 10px 20px;
  border-top: 1px solid #eee;
}

  
