/**
 * all variables must defined here.
 */

/* color */
$color-primary: teal;
$color-white: #fff;
$color-dark: #000;

$color-background: #f0f2f5;
$color-text-placeholder: #c0c4cc !default;

/* size */
$size: 16px;
$size-small: $size / 2;
$size-large: $size * 2;

$base-margin-small: $size-small;
$base-padding-small: $size-small;
$base-margin: $size;
$base-padding: $size;
$base-margin-large: $size-large;
$base-padding-large: $size-large;

// page
$page-content-margin: $base-margin;
$page-content-padding: $base-padding;

/* box-shadow */
$box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

$color-primary-light1: mix($color-white, $color-primary, 10%) !default;
$color-primary-light2: mix($color-white, $color-primary, 30%) !default;
$color-primary-light3: mix($color-white, $color-primary, 50%) !default;
$color-primary-light4: mix($color-white, $color-primary, 70%) !default;
$color-primary-light5: mix($color-white, $color-primary, 90%) !default;
